body {
    background: rgb(255,160,0);
    background: linear-gradient(163deg, rgba(255,160,0,1) 12%, rgba(82,123,212,1) 74%);
}

.notation-dessin-form {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.menu-drawing {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eval-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.title-eval {
    display: table-row;
}

.eval {
    padding: 0.75rem;
    vertical-align: top;
}
