<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artapol</title>
    <link rel="icon" href="../../assets/icon.png">
    <link rel="stylesheet" href="login.css">
</head>
<body>

<div>
    <div style="text-align: center;">
        <img src="../../assets/img.png" alt="Description de l'image" class="background-image">

        <div class="text-container">
            <h2>Système d'Information pour la Gestion des Concours de Dessin</h2>
        </div>

        <h2>Connexion</h2>
        <form method="post" class="form">
            <div>
                <label for="username">Nom d'utilisateur:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Connexion</button>
        </form>
    </div>
</div>

<script type="module" src="login.js"></script>
</body>
</html>