<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Artapol</title>
    <link rel="icon" href="../../assets/icon.png">
    <link rel="stylesheet" href="../../style/global.css">
    <link rel="stylesheet" href="accueil.css">
    <script src="auth.js"></script>
    <script src="../navbar/customNavbar.js" type="text/javascript" defer></script>
    <script src="../footer/customFooter.js" type="text/javascript" defer></script>
</head>
<body>

<custom-navbar></custom-navbar>

<div class="container">

    <header>
        <h1>Bienvenue sur Artapol</h1>
    </header>

    <main class="border">
        <h2>Artapol en quelques mots</h2>
        <p>Bienvenue sur Artapol, l'application de concours de dessin qui vous permet de montrer votre talent et de
            gagner des prix. Avec Artapol, vous pouvez participer à des concours de dessin, voter pour vos œuvres
            préférées, et découvrir des artistes du monde entier. Que vous soyez débutant ou expert, Artapol vous offre
            une plateforme créative et ludique pour exprimer votre passion. Téléchargez l'application dès maintenant et
            rejoignez la communauté Artapol !
        </p>
        <img src="../../assets/dessin1.jpg" alt="dessin 1" class="img-drawing">
        <img src="../../assets/dessin2.jpg" alt="dessin 2" class="img-drawing">
    </main>

</div>

<custom-footer></custom-footer>
</body>
</html>