<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="accueil.css">
    <script src="auth.js"></script>
    <script src="../navbar/customNavbar.js" type="text/javascript" defer></script>
    <script src="../footer/customFooter.js" type="text/javascript" defer></script>
</head>
<body>
    <custom-navbar></custom-navbar>

    <div class="container">

        <header>
            <h1>Bienvenue sur notre site</h1>
            <p>Ceci est la page d'accueil de notre site.</p>
        </header>

        <main>
            <h2>Contenu de la page</h2>
            <p>Voici le contenu principal de notre page d'accueil.</p>
        </main>

    </div>

    <custom-footer></custom-footer>
</body>
</html>