body {
    margin: 0;
    font-family: Arial, sans-serif;
}

img {
    width: 100%;
    height: auto;
    display: block;
}
.background-image {
    width: 100%;
    height: auto;
}

.text-container {
    width: 30%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}
.footer-text{
    color: #5a4e9d
}

button {
    background-color: #5a4e9d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #6c639d;
}