body {
    background: rgb(101,168,236);
    background: linear-gradient(163deg, rgba(101,168,236,1) 26%, rgba(121,9,101,1) 97%);
}

.new-concours {
    width: auto;
    padding: 5px 10px;
}

.menu-concours {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-competitor {
    width: auto;
}

.menu-competitor {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.new-evaluator {
    width: auto;
    padding: 5px 10px;
}

.menu-evaluator {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-jury {
    width: auto;
    padding: 5px 10px;
}

.menu-create-jury {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assign-jury {
    width: auto;
    padding: 5px 10px;
}

.menu-jury {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}