body {
    background: rgb(224,1,255);
    background: linear-gradient(163deg, rgba(224,1,255,1) 14%, rgba(0,120,240,1) 53%, rgba(255,0,0,1) 93%);
}

.concours-registration-form {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.drawing-submission-form {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.assign-drawing {
    width: 34%;
}

.img-drawing {
    width: 50%;
    padding: 15px;
    border-radius: 5px;
}

.menu-drawing {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.title {
    display: table-row;
}

.result {
    padding: 0.75rem;
    vertical-align: top;
}