body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.container {
    width: 80vw;
    margin: 0 auto auto;
}
header {
    background: #f0f0f0;
    padding: 20px;
    text-align: center;
}


.contest-registration-form {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background: #f0f0f0;
    box-shadow: 0 0 10px #f0f0f0;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drawing-submission-form {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background: #f0f0f0;
    box-shadow: 0 0 10px #f0f0f0;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assign-drawing {
    width: 34%;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background: #f0f0f0;
    box-shadow: 0 0 10px #f0f0f0;
}

.img-drawing {
    width: 50%;
    padding: 15px;
    border-radius: 5px;
}

.menu-drawing {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.title {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    display: table-row;
}

.result {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    background-color: #fffff;
}

table tr:nth-child(even) {
    background-color: lightgray;
}