<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <script src="../navbar/customNavbar.js" type="text/javascript" defer></script>
    <script src="../footer/customFooter.js" type="text/javascript" defer></script>
</head>
<body>

<custom-navbar></custom-navbar>

<div class="container">
    <header>
        <h1>Competition</h1>
    </header>
    <main>
        <h2>Inscription à un concours</h2>
        <form id="contest-registration-form" method="POST">
            <label for="contest-name">Nom du concours:</label><br>
            <input type="text" id="contest-name" name="contest-name" required><br>
            <input type="submit" value="S'inscrire au concours">
        </form>

        <h2>Dépot dessins</h2>
        <form id="drawing-submission-form" method="POST">
            <label for="drawing-name">Nom du dessin:</label><br>
            <input type="text" id="drawing-name" name="drawing-name" required><br>
            <label for="drawing-file">Fichier du dessin:</label><br>
            <input type="file" id="drawing-file" name="drawing-file" required><br>
            <input type="submit" value="Soumettre le dessin">
        </form>

        <h2>Affichage notes des dessins</h2>

        <h2>Résultats du concours</h2>

    </main>
</div>

<custom-footer></custom-footer>

</body>
</html>