<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <script src="auth.js"></script>
    <script src="../navbar/customNavbar.js" type="text/javascript" defer></script>
    <script src="../footer/customFooter.js" type="text/javascript" defer></script>
</head>
<body>

<custom-navbar></custom-navbar>

<div class="container">
    <header>
        <h1>Competition</h1>
    </header>
    <main>
        <h2>Inscription à un concours</h2>
        <form class="contest-registration-form" method="POST">
            <div>
                <label for="contest-name">Nom du concours:</label><br>
                <input type="text" id="contest-name" name="contest-name" required><br>
            </div>
            <div>
                <input type="submit" value="S'inscrire au concours">
            </div>
        </form>

        <h2>Dépot dessins</h2>
        <form class="drawing-submission-form" method="POST">
            <div>
                <label for="drawing-name">Nom du dessin:</label><br>
                <input type="text" id="drawing-name" name="drawing-name" required><br>
            </div>
            <div>
                <label for="drawing-file">Fichier du dessin:</label><br>
                <input type="file" id="drawing-file" name="drawing-file" required><br>
            </div>
            <div>
                <input type="submit" value="Soumettre le dessin">
            </div>
        </form>

        <h2>Affichage notes des dessins</h2>
        <table id="assigned-drawings-table">
            <div class="assign-drawing">
                <div>
                    <div>
                        Nom du dessin
                    </div>
                    <div class="img-drawing">
                        <iframe width="420" height="315"
                                src="https://www.youtube.com/embed/QvWuQU1tjDc?autoplay=1&mute=0">
                        </iframe>
                    </div>
                </div>

                <div>
                    <form class="menu-drawing" method="POST">

                        <div>
                            Note du dessin :
                        </div>

                    </form>
                </div>

        </div>
        </table>
        <h2>Résultats du concours</h2>
        <div id="results-table"></div>

    </main>
</div>

<custom-footer></custom-footer>

</body>
</html>